[main]
Description=
Host=sa.ocb.com.vn
AuthType=1
GroupName=Outsource
GroupPwd=
enc_GroupPwd=229EB61C2F2D8520D2B7416A582214BB1A1818D852378BFD27C1267CAFE629AB42BB941204CC5C8C3FDD27CD32C71FAE
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=crm.fpt
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
ForceKeepAlives=1